@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
    width: 99%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111112;
}

input {
    color: rgb(255, 0, 98);
    width: 270px;
    margin-bottom: 5px;
    padding: 17px;
    outline: none;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
    background-color: #111112;
    text-align: center;
    letter-spacing: 2px;
}

.num {
    width: 74px;
    height: 67px;
}

.text {
    width: 70px;
    height: 26px;
    letter-spacing: 2px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 12px;
    background-color: #111112;
}

.main {
    display: inline-block;
}

.maincolor {
    background-color: #111112;
}

.restbtn {
    width: 100px;
    background-color: #ff617c;
}

.cancelbtn {
    width: 100px;
    background-color: #111112;
}

.btnclear {
    width: 100px;
    background-color: #f1f1f1;
}

.mul {
    background-color: #ff00b3;
}

.sub {
    background-color: #ff39ac;
}

.add {
    background-color: #ff4dc4;
}

.div {
    background-color:  #f880e8;
}
